*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, black, rgb(48, 47, 47), black);
    box-shadow: 0px 0px 10px rgb(119, 119, 119);
    color: white;
}

main{
    margin-top: 100px;
    width: 100%;
}

.sct-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.sct-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
    width: 70%;
    padding: 20px;
    margin-top: 20px;
}

.sct{
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.sct-sub h1{
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.377);
    border-bottom-left-radius: 25px;
    padding: 5px 15px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
}

ul{
    list-style: none;
    border: 1px solid black;
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(95, 95, 95);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
ul:hover{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

li{
    font-size: 18px;
}

.sct p{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(197, 81, 81);
}
