*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(171, 171, 248), rgb(137, 137, 247));
}

div{
    border: 1px solid rgb(111, 102, 151);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(57, 41, 65);
    padding: 20px 35px;
    font-weight: 600;
    background-image: linear-gradient(rgb(84, 74, 129), rgb(61, 50, 110));
    color: white;
    text-align: center;
}

form{
    width: 200px;
    height: 150px;
    padding: 10px;
    border-top: 1px solid rgb(59, 49, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form label{
    font-size: 20px;
}

form select{
    width: 70%;
    background-color: rgb(131, 131, 207);
    padding: 3px;
    border-radius: 3px;
    border: none;
    color: white;
}

input{
    width: 50%;
    padding: 7px 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(30, 3, 53);
    font-weight: 500;
    background-color: rgb(79, 56, 143);
    color: white;
    transition: 0.3s;
}

input:hover{
    box-shadow: 0px 0px 15px 5px rgb(95, 4, 212);
    background-color: rgb(29, 19, 58);
}

input:active{
    opacity: 0.4;
}

a:link{
    color: white;
}