*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#020024, #090979, #1f84e2 );
}


.main{
    background-color: rgba(71, 132, 224, 0.582);
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(141, 190, 255);
    border-right: 1px solid rgb(141, 190, 255);
}

form{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 300px;
    height: 300px;
    font-weight: 550;
}

label{
    border-bottom: 2px solid rgba(255, 255, 255, 0.425);
    border-right: 2px solid rgba(255, 255, 255, 0.425);
    padding: 5px 10px;
    background-color: #02002448;
    border-radius: 5px;
    width: 90px;
}

input {
    color: white;
    font-weight: 550;
    padding: 10px;
    width: 93%;
    border: none;
    border-radius: 5px;
    background-color: #95c2ec;
}

input:hover{
    background-color: #b6d3ee;
    transition: 0.1s;
}

input::placeholder{
    color: white;
    font-weight: 550;
}

.button{
    color: white;
    font-weight: 550;
    font-size: 14px;
    background-color: #2d71d8;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 5px;
    width: 70%;
}

.button:hover{
    background-color: #64aaeb;
    transition: 0.1s;
}
.button:active{
    background-color: #090979;
}