*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(27, 2, 48), rgb(44, 0, 94));
    color: white;
}

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(255, 201, 255);
    background-image: linear-gradient(to right, rgb(91, 10, 129), rgb(136, 25, 211));
    color: white;
    box-shadow: 0px 0px 10px black;
}

.Pmain{
    margin-top: 250px;
}

.section{
    border: 2px solid rgb(255, 201, 255);
    border-bottom-left-radius: 60px;
    border-top-right-radius: 10px;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(138, 0, 138), rgb(114, 14, 196));
    text-align: center;
    box-shadow: 0px 0px 10px rgb(15, 15, 15);
    line-height: 45px;
}

.section p, label{
    font-weight: 600;
    color: #ffd9ff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 100%;
}

.input{
    width: 70%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background-color: rgb(255, 214, 255);
    transition: 0.3s;
}

.input:hover{
    background-color: white;
}

.btn{
    width: 40%;
    padding: 12px 0px;
    font-weight: 600;
    color: rgb(255, 217, 255);
    font-size: 15px;
    border: 2px solid rgb(255, 207, 255);
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: rgb(61, 5, 99);
}

.btn:active{
    transform: scale(0.9);
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    margin-top: 100px;
    padding: 30px;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.ulMain{
    border: 1px solid rgb(225, 181, 255);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgb(189, 89, 255);
}
.ulMain:hover{
    background-color: #6e238b;
}

.ulMain p {
    font-weight: 500;
    color: rgb(255, 235, 255);
}

.ulMain li{
    padding: 10px;
    line-height: 30px;
}

.ulMain li h2{
    margin-bottom: 20px;
}
.ulMain h4{
    padding: 5px 8px;
    background-color: green;
    margin-top: 5px;
    border-radius: 10px;
    width: 30%;
    margin-left: 35%;
    transition: 0.2s;
}

.ulMain h4:hover{
    opacity: 0.8;
}

.h2, span{
    color: rgb(255, 194, 255);
}

.resumo{
    padding: 25px;
    list-style: none;
    line-height: 30px;
    border: 1px solid rgb(255, 194, 255);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
}

.resumo li{
    color: rgb(255, 232, 255);
    font-weight: 500;
}

a:link{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s;
}

a:link:active{
    transform: scale(0.9);
}