*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(43, 0, 43), rgb(70, 12, 70));
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.container{
    border: 2px solid rgb(225, 0, 255);
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
    color: rgb(255, 224, 255);
    box-shadow: 0px 0px 10px 1px rgb(203, 90, 255);
    background-image: linear-gradient(rgb(102, 12, 102),rgb(128, 4, 128));
    transition: 0.6s;
}

.container:hover{
    transform: scale(1.1);
}

