*{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-image: linear-gradient(rgb(21, 21, 131), rgb(44, 44, 179), rgb(68, 68, 233));
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 30px 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    width: 500px;
    height: 200px;
    background-color: rgba(191, 191, 255, 0.329);
    border-radius: 10px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 550;
    width: 50%;
    margin: 0px 110px 0px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(97, 64, 243);
    transition: 0.1s;
}
button:active{
    background-color: transparent;
}