*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(71, 11, 128), rgb(52, 11, 90), rgb(42, 20, 63));
}

header{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(136, 20, 245), rgb(100, 15, 179), rgb(100, 49, 148) );
    color: white;
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
}

main{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

fieldset{
    border: 2px solid rgb(218, 179, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(174, 98, 245);
    padding: 15px 25px;
    color: white;
    background-image: linear-gradient(to right, rgb(72, 16, 124), rgb(53, 8, 95));
}

legend{
    font-size: 20px;
    font-weight: 600;
    padding: 3px;
}

form{
    border-top: 1px solid rgb(218, 179, 255);
    border-radius: 2px;
    padding: 20px 15px;
    
}

label{
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(49, 15, 82), rgb(26, 3, 48));
}

input{
    width: 50%;
    border: none;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: rgb(233, 209, 255);
    color: black;
}

.btn{
    width: 70%;
    margin-left: 13%;
    cursor: pointer;
    font-weight: 600;
    color: white;
    padding: 5px 0px;
    background-image: linear-gradient(to right, rgb(46, 10, 82), rgb(31, 5, 56));
    border-radius: 5px;
    transition: 0.4s;
}

.btn:hover{
    box-shadow: 0px 0px 20px rgb(183, 111, 250);
}

.btn:active{
    transform: scale(0.9);
}

