*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    padding: 20px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
    background-color: rgb(225, 225, 245);
}

section form{
    margin-top: 10px;
    background-color: rgb(132, 132, 212);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    color: white;
}

label{
    background-color: rgb(72, 72, 163);
    padding: 5px;
    border-radius: 5px;
}

input{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn{
    width: 50%;
    background-color: rgb(7, 134, 7);
    border: none;
    padding: 10px 0px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}