*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

body{
background-image: linear-gradient(to right, rgb(182, 70, 70),rgb(204, 101, 101) ,rgb(224, 131, 131));
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
}

main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

section{
border: 2px solid rgb(255, 210, 210);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
border-radius: 10px;
background-color: rgba(253, 253, 253, 0.349);
padding: 30px;
}

form{
background-color: rgba(184, 50, 50, 0.349);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
gap: 8px;
font-weight: 550;
padding: 35px;
}

label{
text-align: left;
background-color: rgba(141, 67, 67, 0.342);
padding: 4px;
border-radius: 5px;
width: 45%;
}

input{
width: 90%;
padding: 5px;
border-radius: 5px;
border: none;
color: black;
}

.btn{
width: 80%;
padding: 8px;
background-color: rgba(122, 15, 15, 0.726);
color: white;
font-weight: 550;
cursor: pointer;
}
.btn:hover{
background-color: rgb(216, 170, 109);
transition: 0.2s;
}
.btn:active{
background-color: rgba(216, 170, 109, 0.363);
transition: 0.2s;
}

a{
background-color: rgba(165, 42, 42, 0.418);
padding: 5px;
border-radius: 3px;
}

.divisoes{
width: 400px;
height: 200px;
}

p{
padding: 0px 10px;
}

li{
font-size: 20px;
}