*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(41, 7, 65), rgb(81, 15, 107), rgb(41, 7, 65));
    color: white;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, rgb(86, 86, 255), rgb(229, 57, 252), rgb(121, 37, 255));
    color: white;
    padding: 20px;
    border-bottom: 2px solid rgb(240, 165, 255);
    box-shadow: 0px 0px 10px rgb(252, 227, 255);
    z-index: 1;
}

main{
    margin-top: 110px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h1{
    padding: 10px 25px;
    background-color: rgba(128, 0, 128, 0.548);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
}

.main-sct{
    display: flex;
    gap: 50px;
}

.sct-cart{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    width: 28%;
    height: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-left: 3px solid rgb(171, 80, 255);
}

.sct-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.sct-grid ul{
    list-style: none;
    border: 2px solid rgb(130, 20, 255);
    text-align: center;
    box-shadow: 0px 0px 10px rgb(141, 54, 212);
    padding: 5px 10px;
    width: 200px;
    height: 70px;
}

.sct-grid li{
    margin-top: 17px;
}

.sct-cart input{
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(156, 4, 245);
    color: rgb(156, 4, 245);
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.sct-cart input:hover{
    background-color: rgb(156, 4, 245);
    color: white;
}

.sct-cart input:active{
    transform: scale(0.9);
}

.itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 100px;
}