*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 249, 243);
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    border: 1px solid rgb(31, 44, 99);
    box-shadow: 0px 0px 10px rgb(36, 43, 63);
    background-color: rgb(40, 63, 139);
    color: white;
    border-radius: 3px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    font-weight: 600;
    width: 90%;
    background-color: rgb(4, 4, 107);
    border-radius: 3px;
}

form input{
    width: 70%;
    padding: 7px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
}

.btn{
    width: 50%;
    padding: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(0, 182, 0);
}
.btn:active{
    transform: scale(0.9);
}

ul li{
    list-style: none;
    margin-top: 5px;
    background-color: rgb(31, 32, 85);
    padding: 5px;
}

p{
    color: rgb(212, 227, 255);
}

h3{
    color: rgb(247, 163, 163);
    padding: 5px 10px;
    border: 1px solid rgb(215, 231, 255);
}

.h3AP{
    color: green;
}

a:link{
    text-decoration: none;
    color: white;
}

a:link:hover{
    opacity: 0.9;
}