*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, black, rgb(36, 36, 36), black);
    color: white;
    box-shadow: 0px 0px 10px rgb(116, 116, 116);
}

main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sct-main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 2px solid black;
    padding: 15px;
    
}

.sct-main h1{
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.sct-main form{
    font-size: 19px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    border-radius: 5px;
    padding: 8px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.sct-main select{
    border: none;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 5px;
    padding: 5px;
}

.sct-main input{
    padding: 6px 20px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.sct-main input:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}
.sct-main input:active{
    transform: scale(0.9);
}

.sct-base{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(to right, black, rgb(46, 46, 46), black);
    color: white;
    width: 90%;
    padding: 20px;
}

.sct-prod{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.sct-prod ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(124, 124, 124);
    cursor: pointer;
    transition: 0.4s;
}

.sct-prod ul:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 1px rgb(202, 202, 202);
}

.sct-prod ul li{
    line-height: 30px;
} 
