*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    padding: 20px 40px;
    border: 1px solid rgb(6, 6, 78);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 5px rgb(85, 85, 85);
    font-weight: 600;
}

form{
    padding: 20px 30px;
    border-top: 1px solid rgb(6, 6, 78);
    border-radius: 5px;
    width: 100%;
}

label{
    padding: 5px 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 3px;
}

input{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 2px 5px;
    margin-top: 20px;
}

.btn{
    margin-top: 0px;
    border: none;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 7px 1px rgb(85, 85, 85);
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    opacity: 0.7;
}

select{
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

a:link{
    text-decoration: none;
    background-color: rgb(197, 197, 197);
    color: black;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 3px;
    padding: 3px;
    transition: 0.2s;
}

a:hover{
    opacity: 0.8;
}